<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Report Hive | Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
		<script src="https://kit.fontawesome.com/cf30b19bdf.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<header class='dashboard-header'>
			<img class='logo' src="{{ url_for('static', filename='images/logo1.png') }}"/>
			<ul>
				<li><a href='/all-posts'>INITIATIVES</a></li>
				<li><a href='/all-posts'>LEADERBOARD</a></li>
				<li><a class='special-link' href='/login'>LOG OUT</a></li>
			</ul>
		</header>

		<main class='dashboard-main'>

			<section class='left-sidebar'>
				<img src=''>
				<a href='/'><i class="fas fa-trophy"></i> Leaderboard</a>
				<a href='/'>Initiatives for small businesses</a>
				<a href='/'>Initiatives for any businesses</a>
				<a href='/'>Initiatives to start today</a>
				<a href='/'>Talk to a representative</a>
			</section>

			<section class='feed'>
				<div class='feed-content-container'>
					<header>
						<div>
							<h1>Share new initiatives at your company</h1>
							<small>Any sustainable initiaves that others might use for their own businesses</small>
						</div>
						<button>+</button>
					</header>

					<div class='feed-content'>
						<div class='post'>
							<img src="{{ url_for('static', filename='images/food.jpeg') }}" />
							<div class='content'>
								<div class='content-gist'>
									<h1>How Google distributes extra energy</h1>
									<p>Learn how businesses can do the same</p>
								</div>
								<small>Sep 24, 2052</small>
							</div>
						</div>

						<div class='post'>
							<img src="{{ url_for('static', filename='images/solar.jpeg') }}"/>
							<div class='content'>
								<div class='content-gist'>
									<h1>How Google distributes extra energy</h1>
									<p>Learn how businesses can do the same</p>
								</div>
								<small>Sep 24, 2052</small>
							</div>
						</div>

						<div class='post'>
							<img src="{{ url_for('static', filename='images/food.jpeg') }}" />
							<div class='content'>
								<div class='content-gist'>
									<h1>How Google distributes extra energy</h1>
									<p>Learn how businesses can do the same</p>
								</div>
								<small>Sep 24, 2052</small>
							</div>
						</div>

						<div class='post'>
							<img src="{{ url_for('static', filename='images/solar.jpeg') }}"/>
							<div class='content'>
								<div class='content-gist'>
									<h1>How Google distributes extra energy</h1>
									<p>Learn how businesses can do the same</p>
								</div>
								<small>Sep 24, 2052</small>
							</div>
						</div>
					</div>
				</div>

				<section class='leaderboard-summary'>
					<div class='position-one'>
						<img src="{{ url_for('static', filename='images/trophy.png') }}"/>
						<div>
							<h1>Google</h1>
							<small>With more than 123123 trees saved, nuaisda wattts bla asd</small>
						</div>
					</div>

					<div class='position-two'>
						<div>
							<h1>Mauricio's Company</h1>
							<small>With more than 123123 trees saved, nuaisda wattts bla asd</small>
						</div>
					</div>

					<div class='position-three'>
						<div>
							<h1>IBM</h1>
							<small>With more than 123123 trees saved, nuaisda wattts bla asd</small>
						</div>
					</div>

					<button>See how other companies are saving this world</button>
				</section>
			</section>
		</main>

		<!-- <footer class='dashboard-footer'>
			<p>Logo, inc &copy;</p>
			<ul>
				<li><a href='/all-posts'>Initiatives</a></li>
				<li><a href='/all-posts'>Leaderboard</a></li>
				<li><a href='/login'>Contact</a></li>
				<li><a href='/login'>Support</a></li>
				<li><a href='/login'>Login</a></li>
			</ul>
		</footer> -->
	</body>
</html>
