<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Report Hive | Post</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
		<script src="https://kit.fontawesome.com/cf30b19bdf.js" crossorigin="anonymous"></script>

		<style>
			a{
				text-decoration: none;
				color:inherit;
			}
		</style>
	</head>
	<body>

		<header class='dashboard-header'>
			<img class='logo' src="{{ url_for('static', filename='images/logo1.png') }}" />
			<ul>
				<li><a href='/all-posts'>INITIATIVES</a></li>
				<li><a href='/all-posts'>LEADERBOARD</a></li>
				<li><a class='special-link' href='/login'>LOG OUT</a></li>
			</ul>
		</header>

		<main class='dashboard-main'>

			<section class='left-sidebar'>
				<img src=''>
				<a href='/'><i class="fas fa-trophy"></i> Leaderboard</a>
				<a href='/'>Initiatives for small businesses</a>
				<a href='/'>Initiatives for any businesses</a>
				<a href='/'>Initiatives to start today</a>
				<a href='/'>Talk to a representative</a>
			</section>

			<section class='feed'>
				<div class='feed-content-container'>
					<div class='feed-content'>

						<div class='post'>
							<!-- <img src="{{ url_for('static', filename='images/food.jpeg') }}"/> -->
							<img src="https://storage.googleapis.com/postbucket/{{post['mid']}}"/>
							<div class='content'>
								<div class='content-gist'>
									<h1>{{post['title']}}</h1>
									<p>Learn how businesses can do the same</p>
								</div>
								<small>{{post['date']}}</small>
							</div>

							<div class='content-one'>
								<p>{{post['description']}}</p>
							</div>
							<br>
							<img src="https://storage.googleapis.com/postbucket/{{post['mid']}}"/>

							<div class='content-two'>
								<h2>How to apply that to your own business?</h2>
								<!-- If you have the steps, make it a bulleted list. That looks better :)-->
								<br><p> Join the Hive and share your sustainable initiatives. Gather Ideas here and make a difference!</p> <br>
							</div>
						</div>
					</div>
				</div>

				<section class='leaderboard-summary'>


					<div class='position-one'>
						<img src="{{ url_for('static', filename='images/trophy.png') }}"/>
						<div>
							<h1>Google</h1>
							<small>With more than 433 sustainable initiatives</small>
						</div>
					</div>

					{% for each_leader in leaders %}
					<div class='position-two'>
						<div>
							<h1>{{each_leader['name']}}'s Company</h1>
							<small>With {{each_leader['posts']}} sustainable initiatives</small>
						</div>
					</div>
					{% endfor %}

					<button>See how other companies are saving this world</button>
				</section>
			</section>
		</main>

		<!-- <footer class='dashboard-footer'>
			<p>Logo, inc &copy;</p>
			<ul>
				<li><a href='/all-posts'>Initiatives</a></li>
				<li><a href='/all-posts'>Leaderboard</a></li>
				<li><a href='/login'>Contact</a></li>
				<li><a href='/login'>Support</a></li>
				<li><a href='/login'>Login</a></li>
			</ul>
		</footer> -->
	</body>
</html>
